/* General Styles */
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style:italic;
    font-weight: bold;

    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

/*Background Img*/
.background-img{
    background-image: url("https://images.unsplash.com/photo-1534367507873-d2d7e24c797f?auto=format&fit=crop&q=80&w=2070&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-repeat: no-repeat;
    width:  100vw;
    height: 100vh;
}



/* Logo */
.logo-container {
    display: flex;
    justify-content: center;
}

.logo-container img {
    height: auto;
    width: 110px;
}

header{
    display:flex;
    padding-right: 1vw;
    padding-left: 1vw;
}

nav{
    display: flex;
    position: relative;
    margin-left: auto;
}

.links {
    display: grid;
    grid-template-columns: repeat(var(--items), 1fr);
    grid-template-rows: repeat(2, 1fr);
    font-size: 1em;
}

.links > a {
    color: #000000;
    padding: .75em;
    text-align: center;
    transition: all .5s;
}

.links > a:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.384));
}

.links > .line {
    background: #ffffff;
    height: 1px;
    pointer-events: none;
    opacity: 0;
    transition: all .3s;
    position: absolute;
    bottom: 50%;
    left: var(--left, calc(100% / var(--items) * (var(--index) - 1)));
    width: var(--width, calc(100% / var(--items)));
    --index: 0;
}

.links > a:hover ~ .line {
    opacity: 1;
}

.links > a:nth-of-type(1):hover ~ .line { --left: calc(100% / var(--items) * 0); }
.links > a:nth-of-type(2):hover ~ .line { --left: calc(100% / var(--items) * 1); }
.links > a:nth-of-type(3):hover ~ .line { --left: calc(100% / var(--items) * 2); }
.links > a:nth-of-type(4):hover ~ .line { --left: calc(100% / var(--items) * 3); }

/* Update the position of the line based on the hovered link */
.links > .line {
    left: var(--left, 0);
}




/*Content wrapper*/
.content-wrapper{
    display: flex;
    margin-top: auto;
}


/*Brand container*/
.brand-container {
  padding: 2rem;
  transform: skewX(-10deg);
  animation: fade .5s ease-in both;


  margin-left: auto;
  font-size: 3rem;
  text-shadow: 1px 1px 1px rgb(255, 255, 255);
}

@keyframes fade{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }   
}


/*footer*/
footer {
    background-image: url(footer-bg.png);
    background-size: cover;
    background-attachment: fixed;
    margin-top: auto 0;
    width: 100%;
}


.footer-wrapper{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    padding: 20px;
}

.footer-wrapper .brand{
grid-column: 3/4;
}

.footer-wrapper .socials{
    grid-column: 2
}

.footer-wrapper .socials,
.footer-wrapper .about,
.footer-wrapper .brand,
.footer-wrapper .location {
    margin: 10px 25px;
    padding: 10px;
    box-shadow: #000000 5px 5px;
    background-color: rgb(190, 190, 190);
    transform: skewX(-5deg);
    text-align: center;
}

.footer-wrapper .socials:hover,
.footer-wrapper .about:hover,
.footer-wrapper .brand:hover,
.footer-wrapper .location:hover{
    transition: 200ms;
    box-shadow: #ffffff 5px 5px;
}


.socials ul{
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
}

.socials a{
    color:rgb(0, 0, 0); 
}

.socials ul li :hover{
    color:rgb(255, 255, 255);
}


@media (max-width: 767px) {
 .Mobile{
     display: block;
}

header{
    display: none;
}


.footer-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
}

    .footer-wrapper .socials,
    .footer-wrapper .about,
    .footer-wrapper .location {
        margin: 10px 0;
    }
}

/* Desktop view*/
@media (min-width: 768px) {

    .footer-wrapper {
        flex-direction: row;
    }
}