/* General Styles */
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style:italic;
    font-weight: bold;

    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}


/*Background Img*/
.background-img{
    background-image: url("https://images.unsplash.com/photo-1534367507873-d2d7e24c797f?auto=format&fit=crop&q=80&w=2070&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-repeat: no-repeat;
    width:  100vw;
    height: 100vh;
}

/* Logo */
.logo-container {
    display: flex;
    justify-content: center;
}

.logo-container img {
    height: auto;
    width: 110px;
}




header{
    display:flex;
    padding-right: 1vw;
    padding-left: 1vw;
}

nav{
    display: flex;
    position: relative;
    margin-left: auto;
}

.links {
    display: grid;
    grid-template-columns: repeat(var(--items), 1fr);
    grid-template-rows: repeat(2, 1fr);
    font-size: 1em;
}

.links > a {
    color: #000000;
    padding: .75em;
    text-align: center;
    transition: all .5s;
}

.links > a:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.384));
}

.links > .line {
    background: #ffffff;
    height: 1px;
    pointer-events: none;
    opacity: 0;
    transition: all .3s;
    position: absolute;
    bottom: 50%;
    left: var(--left, calc(100% / var(--items) * (var(--index) - 1)));
    width: var(--width, calc(100% / var(--items)));
    --index: 0;
}

.links > a:hover ~ .line {
    opacity: 1;
}

.links > a:nth-of-type(1):hover ~ .line { --left: calc(100% / var(--items) * 0); }
.links > a:nth-of-type(2):hover ~ .line { --left: calc(100% / var(--items) * 1); }
.links > a:nth-of-type(3):hover ~ .line { --left: calc(100% / var(--items) * 2); }
.links > a:nth-of-type(4):hover ~ .line { --left: calc(100% / var(--items) * 3); }

/* Update the position of the line based on the hovered link */
.links > .line {
    left: var(--left, 0);
}




/*Content wrapper*/
.content-wrapper{
    display: flex;
    margin-top: auto;
}


/*Brand container*/
.brand-container {
  padding: 2rem;
  transform: skewX(-10deg);
  animation: fade .5s ease-in both;


  margin-left: auto;
  font-size: 3rem;
  text-shadow: 1px 1px 1px rgb(255, 255, 255);
}

@keyframes fade{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }   
}












/*footer*/

footer {
    background-image: url(footer-bg.png);
    background-size: cover;
    background-attachment: fixed;
    margin-top: auto 0;
    width: 100%;
}




.footer-wrapper{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    padding: 20px;
}

.footer-wrapper .brand{
grid-column: 3/4;
}

.footer-wrapper .socials{
    grid-column: 2
}

.footer-wrapper .socials,
.footer-wrapper .about,
.footer-wrapper .brand,
.footer-wrapper .location {
    margin: 10px 25px;
    padding: 10px;
    box-shadow: #000000 5px 5px;
    background-color: rgb(190, 190, 190);
    transform: skewX(-5deg);
    text-align: center;
}

.footer-wrapper .socials:hover,
.footer-wrapper .about:hover,
.footer-wrapper .brand:hover,
.footer-wrapper .location:hover{
    transition: 200ms;
    box-shadow: #ffffff 5px 5px;
}


.socials ul{
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
}

.socials a{
    color:rgb(0, 0, 0); 
}

.socials ul li :hover{
    color:rgb(255, 255, 255);
}

.Mobile{
    display: none;
}


/* Mobile view */
.container {
    max-width: 1050px;
    width: 90%;
    margin: auto;
  }
  
  .navbar {
    width: 100%;
    box-shadow: 0 1px 4px rgb(172, 172, 172);
  }
  
  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
  }
  
  .navbar .menu-items {
    display: flex;
  }
  
  .navbar .nav-container li {
    list-style: none;
  }
  
  .navbar .nav-container a {
    text-decoration: none;
    color: #0e2431;
    font-weight: 500;
    font-size: 1.2rem;
    padding: 0.7rem;
  }
  
  .navbar .nav-container a:hover{
      font-weight: bolder;
  }
  
  .nav-container {
    display: block;
    position: relative;
    height: 60px;
  }
  
  .nav-container .checkbox {
    position: absolute;
    display: block;
    height: 32px;
    width: 32px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
  }
  
  .nav-container .hamburger-lines {
    display: block;
    height: 26px;
    width: 32px;
    position: absolute;
    top: 17px;
    left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .nav-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #0e2431;
  }
  
  .nav-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }
  
  .nav-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }
  
  .nav-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }
  
  .navbar .menu-items {
    padding-top: 120px;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    height: 100vh;
    width: 100%;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-left: -40px;
    padding-left: 50px;
    transition: transform 0.5s ease-in-out;
    text-align: center;
  }
  
  .navbar .menu-items li {
    margin-bottom: 1.2rem;
    font-size: 1.5rem;
    font-weight: 500;
  }
  
  .logo {

  }
  
  .nav-container input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
  }
  
  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(45deg);
  }
  
  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
  }
  
  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-45deg);
  }
  
  .nav-container input[type="checkbox"]:checked ~ .logo{
    display: none;
  }
  .nav-container input[type="checkbox"]:checked ~ .brand-container{
    display: none;
  }
@media (max-width: 767px) {
 .Mobile{
     display: block;
}

header{
    display: none;
}





.footer-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
}

    .footer-wrapper .socials,
    .footer-wrapper .about,
    .footer-wrapper .location {
        margin: 10px 0;
    }
}

/* Desktop view*/
@media (min-width: 768px) {

    .footer-wrapper {
        flex-direction: row;
    }
}