@property --gradient-angle{
	syntax: "<angle>";
	initial-value: 0deg;
	inherits: false;
}



:root{
	--clr-1:rgb(27, 27, 27);
	--clr-2:#008844;
	--clr-3:#2da89e;
	--clr-4:#7a99ff;
	--clr-5:#4e62a3;
	--clr-6:#20726b;
}

*{
	box-sizing: border-box;
}

/* General Styles */
body {
	/*Font-styles*/
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	font-style: italic;
	font-weight: bold;
	color: #ffffff;

	/*Positioning */
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
	overflow-x: hidden;
}

/*Background properties */
.background{
	background-image: url("https://images.unsplash.com/photo-1574680178050-55c6a6a96e0a?auto=format&fit=crop&q=80&w=2069&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
}

/*Scrollbar Styles for Chrome*/
::-webkit-scrollbar {
	width: 12px; /* Adjust width of scrollbar */
}

::-webkit-scrollbar-track {
	background-color: #000000; /* Color of the track */
}

::-webkit-scrollbar-thumb {
	background: linear-gradient(var(--clr-3), var(--clr-4));
}

::-webkit-scrollbar-thumb:hover {
	background: linear-gradient(var(--clr-6), var(--clr-5));
}

/* Logo */
.logo-container img {
	height: auto;
	width: 120px;
}

/*Logo spin on hover*/
.logo-container img:hover {
	transform: rotate(360deg);
	transition: transform 0.3s;
}

/*Header */
header {
	position: sticky;
	padding: 0 2rem;
	display: flex;
	top: 0;
	left: 0;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	z-index: 100;
}
header::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(50px);
	z-index: -1;
}



/*Navigation menu*/
nav {
	position: relative;
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

#check {
	display: none;
}

.icons {
	position: absolute;
	right: 15%;
	font-size: 3rem;
	color: #000000;
	cursor: pointer;
	display: none;
}

.links {
	display: grid;
	grid-template-columns: repeat(var(--items), 1fr);
	grid-template-rows: repeat(1, 1fr);
	font-size: 1.2rem;
}

.links > a {
	color: #d6d6d6;
	padding: 4rem 1rem;
	transition: all 0.5s;
	text-align: center;
	text-decoration: none;
	margin-left: 2.5rem;
}

.links > a:hover {
	background-image: linear-gradient(
		rgba(0, 0, 0, 0),
		rgba(255, 255, 255, 0.384)
	);
	color: #000000;
}
/*Underline for navigation links*/
.links > .line {
	background: linear-gradient(to left, var(--clr-3), var(--clr-4));
	height: 2px;
	pointer-events: none;
	opacity: 0;
	transition: all 0.3s;
	position: absolute;
	bottom: 0;
	left: var(--left, calc((100% / var(--items) * (var(--index) - 1)) + 2.5rem));
	width: var(--width, calc((100% / var(--items)) - 2.5rem));
	--index: 0;
}
/* Activates the line*/
.links > a:hover ~ .line {
	opacity: 1;
}

/* Updates the position of the line based on the hovered link */
.links > .line {
	left: var(--left, +2.5rem);
}
.links > a:nth-of-type(1):hover ~ .line {
	--left: calc((100% / var(--items) * 0) + 2.5rem);
}
.links > a:nth-of-type(2):hover ~ .line {
	--left: calc((100% / var(--items) * 1) + 2.5rem);
}
.links > a:nth-of-type(3):hover ~ .line {
	--left: calc((100% / var(--items) * 2) + 2.5rem);
}
.links > a:nth-of-type(4):hover ~ .line {
	--left: calc((100% / var(--items) * 3) + 2.5rem);
}

/*Content wrapper*/
.content-wrapper {
	height: 100vh;
	position: relative;
	margin-top: 0 auto;

	display: flex;
    justify-content: center;
    align-items: center;
}

/*Brand container*/
.brand {
	margin: 10px 50px;

 	transform: skewX(-10deg);
 	font-size: 3rem;
	color: #ffffff;
}
.brand:hover {
	animation: background-pan 1.5s linear infinite;
	background: linear-gradient(to right, var(--clr-3), var(--clr-4), var(--clr-3));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-size: 200%;
}
.brand:after {
	content: "";
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: #ffffff;
	transform-origin: bottom right;
	transition: transform 0.25s ease-out;
}
.brand:hover:after {
	transform: scaleX(1);
	transform-origin: bottom left;
}
@keyframes background-pan {
	from {
		background-position: 200% center;
	}
	to {
		background-position: 0% center;
	}
}

@keyframes fade {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

/*footer*/
footer {
    display: grid;
    gap: 100px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-rows: 1fr;
    padding: 4rem;
    background: var(--clr-1);
    text-align: left;
    z-index: 1;
    position: relative;
}
.footer-item {
    display: inline-block;
    text-align: center;
    transition: all 0.3s linear;
}

.logo, .socials, .about, .location {

	
    position: relative;
    background: var(--clr-1);
}

  
 .card{
	aspect-ratio: 1/1;
	width: auto;
	height: 300px;

	background: var(--clr-1);
	border-radius: .5rem;
	position: relative;
}
.card::before,
.card::after {
	content: '';
	position: absolute;
	inset: -1rem;
	background: conic-gradient(
		from var(--gradient-angle),
		var(--clr-3),
		var(--clr-4),
		var(--clr-3),
		var(--clr-4));
	border-radius: inherit;
	animation: rotation 20s linear infinite;
	z-index: -1;
}
.card::after{
	filter: blur(1.5rem);
} 

@keyframes rotation{
	0%{ --gradient-angle: 0deg; }
	100%{ --gradient-angle: 360deg; }
}

.socials ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.socials a {
	color: rgb(255, 255, 255);
}

.socials ul li :hover {
	color: rgba(255, 255, 255, 0.76);
}

/*Mobil Enhet*/
@media (max-width: 767px) {
	/*Header*/
	.brand {
		display: none;
	}
	.icons {
		display: inline-flex;
	}
	#check:checked ~ .icons #menu-icon {
		display: none;
	}
	.icons #close-icon {
		display: none;
	}
	#check:checked ~ .icons #close-icon {
		display: block;
	}

	.links {
		position: absolute;
		top: 100%;
		left: 0;
		height: 0;
		width: 100%;
		background: rgba(0, 0, 0, 0.1);
		backdrop-filter: blur(50px);
		box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
		transition: 0.3s ease;
		overflow: hidden;

		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
	}
	#check:checked ~ .links {
		height: 20rem;
	}

	.links > a {
		margin-left: 0;
		padding: 0.5rem 0;
		display: inline-block;
		width: 210px;
		height: 100%;
		margin: auto;
		line-height: 3rem;

		transition: 0.3s ease;
		opacity: 0;
		transform: translateY(-50px);
	}
	#check:checked ~ .links a {
		transform: translateY(0);
		opacity: 1;
		transition-delay: calc(0.15s * var(--i));
	}

	.links a:hover {
		background-image: linear-gradient(
			to left,
			rgba(255, 255, 255, 0.25),
			rgba(255, 255, 255, 0.7)
		);
		text-decoration: underline;
	}

	.line {
		display: none;
	}

	.logo, .socials, .about, .location {
        flex: 1 1 100%;
        margin: 0.5rem 0;
    }

}
