@property --gradient-angle {
	syntax: "<angle>";
	initial-value: 0deg;
	inherits: false;
}

:root {
	--clr-1: #1b1b1b;
	--clr-2: #f652a0;
	--clr-3: #2da89e;
	--clr-4: #7a99ff;
	--clr-5: #4e62a3;
	--clr-6: #20726b;
}
html {
	background: #1b1b1b;
}

* {
	box-sizing: border-box;
}

/* General Styles */
body {
	/*Font-styles*/
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	font-style: italic;
	font-weight: bold;
	color: #ffffff;

	/*Positioning */
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
	overflow-x: hidden;
}

/*Background properties */
.background {
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
}

.background-general {
	background-image: url("https://images.unsplash.com/photo-1574680178050-55c6a6a96e0a?auto=format&fit=crop&q=80&w=2069&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}

.background-training {
	background-image: url("https://images.unsplash.com/photo-1541534741688-6078c6bfb5c5?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90oy1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}

.background-nutrition {
	background-image: url("/images/nutritionbg.jpg");
}
.background-wellness {
	background-image: url("/images/wellness.jpg");
}
/*Scrollbar Styles for Chrome*/
::-webkit-scrollbar {
	width: 12px;
}

::-webkit-scrollbar-track {
	background-color: #000000;
}

::-webkit-scrollbar-thumb {
	background: linear-gradient(var(--clr-3), var(--clr-4));
}

::-webkit-scrollbar-thumb:hover {
	background: linear-gradient(var(--clr-6), var(--clr-5));
}

/* Logo */
.logo-container img {
	height: auto;
	width: 120px;
}

/*Logo spin on hover*/
.logo-container img:hover {
	transform: rotate(360deg);
	transition: transform 0.3s;
}

/*Header */
header {
	position: sticky;
	padding: 0 2rem;
	display: flex;
	top: 0;
	left: 0;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	z-index: 100;
}
header::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.3);
	backdrop-filter: blur(50px);
	z-index: -1;
}

/*Navigation menu*/
nav {
	position: relative;
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

#check {
	display: none;
}

.icons {
	position: absolute;
	right: 15%;
	font-size: 3rem;
	color: #ffffff;
	cursor: pointer;
	display: none;
	padding: 8px;
}
.icons:hover {
	font-size: 3.2rem;
}

.links {
	display: grid;
	grid-template-columns: repeat(var(--items), 1fr);
	grid-template-rows: repeat(1, 1fr);
	font-size: 1.2rem;
}

.links > a {
	color: #d6d6d6;
	padding: 4rem 1rem;
	transition: all 0.5s;
	text-align: center;
	text-decoration: none;
	margin-left: 2.5rem;
}

.links > a:hover {
	background-image: linear-gradient(
		rgba(0, 0, 0, 0),
		rgba(255, 255, 255, 0.384)
	);
}
/*Underline for navigation links*/
.links > .line {
	background: #ffffff;
	height: 2px;
	pointer-events: none;
	opacity: 0;
	transition: all 0.3s;
	position: absolute;
	bottom: 0;
	left: var(--left, calc((100% / var(--items) * (var(--index) - 1)) + 2.5rem));
	width: var(--width, calc((100% / var(--items)) - 2.5rem));
	--index: 0;
}
/* Activates the line*/
.links > a:hover ~ .line {
	opacity: 1;
}

/* Updates the position of the line based on the hovered link */
.links > .line {
	left: var(--left, +2.5rem);
}
.links > a:nth-of-type(1):hover ~ .line {
	--left: calc((100% / var(--items) * 0) + 2.5rem);
}
.links > a:nth-of-type(2):hover ~ .line {
	--left: calc((100% / var(--items) * 1) + 2.5rem);
}
.links > a:nth-of-type(3):hover ~ .line {
	--left: calc((100% / var(--items) * 2) + 2.5rem);
}
.links > a:nth-of-type(4):hover ~ .line {
	--left: calc((100% / var(--items) * 3) + 2.5rem);
}

/*Content wrapper*/
.content-wrapper {
	min-height: 100vh;
	position: relative;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
.content-wrapper .pageHeader {
	font-size: 6rem;
	align-self: flex-start;
	text-align: center;
	min-width: 1000px;
	background: #1b1b1bda;
	margin-top: 40px;
	position: relative;
	border-radius: 10px;
}

.content-wrapper .pageHeader:after {
	content: "";
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 2px;
	left: 0;
	bottom: 0;
	background-color: #ffffff;
	transform-origin: bottom right;
	transition: transform 0.25s ease-out;
}
.content-wrapper h1:hover:after {
	transform: scaleX(1);
	transform-origin: bottom left;
}

/* Box content */
.boxWrapper {
	opacity: 0.99;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	align-self: flex-start;
}

.box {
	position: relative;
	width: 300px;
	height: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 40px;
	transition: 0.5s;
	background: var(--clr-1);
	cursor: pointer;
}

.box .imgBox {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 10px;
}
.box .imgBox i {
	font-style: normal;
	position: absolute;
	font-size: 5rem;
	position: absolute;
	font-size: 5rem;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.box .imgBox img {
	max-width: 100%;
	opacity: 0.1;
	transition: 0.5s;
}

.box:before {
	content: "";
	position: absolute;
	top: -2px;
	left: -2px;
	right: -2px;
	bottom: -2px;
	background: #ffffff;
	z-index: -1;
}
.box:after {
	content: "";
	position: absolute;
	top: -2px;
	left: -2px;
	right: -2px;
	bottom: -2px;
	background: #ffffff;
	filter: blur(40px);
	z-index: -2;
}
.box,
.box:before,
.box:after {
	transition: height 0.3s ease, opacity 0.3s ease, transform 0.3s ease;
}

/* Only target the active box for the gradient and animation */
.box.active:before,
.box.active:after {
	background: conic-gradient(
		from var(--gradient-angle),
		var(--clr-3),
		var(--clr-4)
	);
	animation: rotation 5s linear infinite;
}
.box:hover .box-content,
.box.active .box-content {
	opacity: 1;
}

.box:hover .imgBox img,
.box.active .imgBox img {
	opacity: 1;
}

.box:hover .imgBox i,
.box.active .imgBox i {
	display: none;
}
.box:hover,
.box.active {
	height: 400px;
}

.box .box-content {
	position: absolute;
	bottom: 0;
	left: 10px;
	right: 10px;
	bottom: 10px;
	height: 90px;
	background: rgba(0, 0, 0, 0.4);
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	opacity: 0;
	transition: 0.5s;
}

.box .box-content h2 {
	font-size: 20px;
	line-height: 20px;
	letter-spacing: 1px;
}
.box .box-content h2 span {
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 3px;
}

/* Styles for tab panel */
.panel {
	transition: max-height 0.5s ease-in-out, padding 0.5s ease-in-out,
		opacity 0.5s ease;
	opacity: 0;
	padding: 0 20px;
}

.panel.active {
	height: 100%;
	opacity: 1;
	padding: 20px;
}

/* Hide all panels by default */
.tabs__panels .panel {
	display: none;
}

/* Display the panel when the corresponding tab is active */
.tabs__panels .panel.active {
	display: flex;
}

.panel-container {
	background: #1b1b1b;
	border-radius: 10px;
	padding: 1rem;
	margin: 50px;
	position: relative;
	line-height: 1.5rem;
}

/* Motivational quotes carousel */
.carousel {
	width: 100vw;
	height: 100vh;
	position: relative;
}
.slide {
	position: absolute;
	inset: 0;
	opacity: 0;
	transition: 100ms opacity ease-in-out;
	transition-delay: 100ms;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.quote-text {
	position: absolute;
	background-color: #1b1b1bcc;
	width: 100%;
	max-width: 1200px;
	border-radius: 10px;
}

.quote-text span {
	animation: background-pan 1s linear infinite;
	background: linear-gradient(
		to right,
		var(--clr-3),
		var(--clr-4),
		var(--clr-3)
	);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-size: 200%;
}

.slide h1 {
	font-size: 3rem;
	padding: 0 10rem;
}
.slide h2 {
	font-size: 2rem;
	padding: 0 10rem;
}

.slide img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.slide[data-active] {
	opacity: 1;
	z-index: 1;
	transition-delay: 0s;
}

.carousel ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.carousel-button {
	border: none;
	color: #ffffff;
	position: absolute;
	background: none;
	font-size: 3rem;
	top: 50%;
	transform: translateY(-50%);
	border-radius: 0.5rem;
	z-index: 2;
}

.carousel-button:hover,
.carousel-button:focus {
	animation: background-pan 0.6s linear infinite;
	background: linear-gradient(
		to right,
		var(--clr-3),
		var(--clr-4),
		var(--clr-3)
	);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-size: 200%;
	cursor: pointer;
}

.carousel-button.prev {
	left: 5%;
}

.carousel-button.next {
	right: 5%;
}

/*Brand container*/
.brand {
	margin: 10px 50px;
	padding: 10px;
	font-size: 3rem;
	color: #ffffff;
	background: #1b1b1bdc;
	border-radius: 10px;
	transform: skew(-10deg);
}

.brand:after {
	content: "";
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: #ffffff;
	transform-origin: bottom right;
	transition: transform 0.25s ease-out;
}
.brand:hover:after {
	transform: scaleX(1);
	transform-origin: bottom left;
}
.brand h1 {
	background: none;
}

@keyframes background-pan {
	from {
		background-position: 200% center;
	}
	to {
		background-position: 0% center;
	}
}

@keyframes fade {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

/*footer*/
footer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 2rem;
	background: var(--clr-1);
	z-index: 1;
	position: relative;
}

.footer-item {
	text-align: center;
	transition: all 0.3s linear;
	flex: 1 1 auto;
	margin: 2%;
}

.logo {
	order: -1; /* This will ensure that .logo stays at the beginning */
	flex: 1 1 100%; /* This will ensure that .logo takes the full width when possible */
}

.socials,
.about,
.location {
	text-align: center;
	padding: 0 20px;
	position: relative;
	background: var(--clr-1);
}

.logo img {
	height: auto;
	width: 160px;
}

.card {
	aspect-ratio: 1/1;
	width: auto;
	height: 300px;

	background: var(--clr-1);
	border-radius: 0.5rem;
	position: relative;
}
.card::before,
.card::after {
	content: "";
	position: absolute;
	inset: -4px;
	background: conic-gradient(
		from var(--gradient-angle),
		var(--clr-3),
		var(--clr-4),
		var(--clr-3),
		var(--clr-4)
	);
	border-radius: inherit;
	animation: rotation 4s linear infinite;
	z-index: -1;
}
.card::after {
	filter: blur(1.5rem);
}

@keyframes rotation {
	0% {
		--gradient-angle: 0deg;
	}
	100% {
		--gradient-angle: 360deg;
	}
}

.socials ul {
	list-style: none;
	line-height: 30px;
	padding: 0;
	margin: 0;

	text-align: center;
}

.socials a {
	color: rgb(255, 255, 255);
}

.socials ul li :hover {
	color: rgba(255, 255, 255, 0.5);
}
.location {
	line-height: 40px;
}

/*Styles för Mobil/Smalare Enhet*/
@media (max-width: 767px) {
	.background {
		background-image: url("https://images.unsplash.com/photo-1595078475328-1ab05d0a6a0e?q=80&w=2000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
	}
	.background-wellness {
		background-image: url("/images/wellness.jpg");
	}
	/*Header*/
	.icons {
		display: inline-flex;
	}
	#check:checked ~ .icons #menu-icon {
		display: none;
	}
	.icons #close-icon {
		display: none;
	}
	#check:checked ~ .icons #close-icon {
		display: block;
	}

	.links {
		position: absolute;
		top: 100%;
		left: 0;
		height: 0;
		width: 100%;
		background: rgba(0, 0, 0, 0.1);
		backdrop-filter: blur(50px);
		box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
		transition: 0.3s ease;
		overflow: hidden;

		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
	}
	#check:checked ~ .links {
		height: 20rem;
	}

	.links > a {
		margin-left: 0;
		padding: 0.5rem 0;
		display: inline-block;
		width: 210px;
		height: 100%;
		margin: auto;
		line-height: 4rem;

		transition: 0.3s ease;
		opacity: 0;
		transform: translateY(-50px);
	}
	#check:checked ~ .links a {
		transform: translateY(0);
		opacity: 1;
		transition-delay: calc(0.15s * var(--i));
	}

	.links a:hover {
		background-image: linear-gradient(
			to left,
			rgba(255, 255, 255, 0.25),
			rgba(255, 255, 255, 0.7)
		);
		text-decoration: underline;
	}

	.line {
		display: none;
	}

	.content-wrapper .pageHeader {
		font-size: 4rem;
	}

	.slide h1 {
		font-size: 2rem;
		padding: 0 5rem;
	}
	.slide h2 {
		font-size: 1rem;
		padding: 0 5rem;
	}
}
@media only screen and (max-width: 550px) {
	.content-wrapper .pageHeader {
		font-size: 2.5rem;
	}
}
/* Styles för väldigt smala enheter*/
@media only screen and (max-width: 400px) {
	body {
		font-size: 14px;
	}
	/* För att inte förstöra bakgrundsbilden används en färg istället*/
	.background {
		background: #1b1b1b;
	}
	/* På wellness-sidan vill jag behålla den varma känslan, därför används en gradient med samma varma färger*/
	.background-wellness {
		background: linear-gradient(60deg,#ffb84d, rgb(98, 183, 223));
	}
	.content-wrapper {
		margin: 0;
		padding: 0;
	}
	.box {
		width: 200px;
		height: 200px;
		margin: 10px;
	}
	.box:hover {
		height: 270px;
	}
	.box .box-content {
		height: 60px;
	}
	.box .box-content h2 {
		font-size: 16px;
		line-height: 10px;
		letter-spacing: 1px;
	}
	.box .box-content h2 span {
		font-size: 12px;
		line-height: 20px;
		letter-spacing: 2px;
	}

	.footer-item {
		flex: 1 1 100%;
	}
	.card {
		width: 220px;
	}
}
